.u-section-1 .u-sheet-1 {
  min-height: 919px;
}

.u-section-1 .u-group-1 {
  width: 584px;
  min-height: 592px;
  height: auto;
  margin: 232px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -9px auto 0;
}

.u-section-1 .u-form-1 {
  height: 172px;
  margin: 0 135px 0 149px;
}

.u-section-1 .u-form-group-1 {
  margin-bottom: 0;
}

.u-section-1 .u-form-group-2 {
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  margin: -30px auto -15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 113px;
    margin-left: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    margin-right: 13px;
    margin-left: 27px;
  }
}